.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: #333e48;
}

.header {
    margin: 0;
    font-size: 2rem;
}

.button {
    margin-top: 1rem;
}
